.appointment {
  padding: 5px 10px;
  border: 2px solid #9b9b9b;
  border-radius: 5px;
  margin-top: 10px;
}

.appointment:last-child {
  margin-bottom: 10px;
}

#add_appointment {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addAppointment label {
  display: block;
}
